@font-face {
    font-family: 'Cairo-Regular';
    src: url('../fonts/Cairo-Regular.eot'), 
    url('../fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/Cairo-Regular.woff') format('woff'), 
    url('../fonts/Cairo-Regular.ttf') format('truetype'), 
    url('../fonts/Cairo-Regular.svg#DINNextLTArabic-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*************************************************************************************/

* {
    box-sizing: border-box;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 8px;
    padding-left: 8px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Cairo-Regular';
    position: relative;
    direction: rtl;
    text-align: right;
}

.clear {
    clear: both;
}

a,
a:hover,
a:focus {
    color: #458fcd;
    text-decoration: none;
    outline: 0;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.no-padding {
    padding: 0;
}

h6 {
    margin-bottom: 20px;
    color: #585858;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
}

/* Start Loading */

.img-loads {
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.lds-spinner {
    position: fixed;
    display: inline-block;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/* End Loading */

/* Start Header */

.header {
    position: relative;
    padding: 20px;
}

.header a {
    font-size: 25px;
    color: #000000;
}

.header .logo {
    width: 150px;
    display: block;
    margin: auto;
}

/* End Header */

/* Start Form */

.form-group {
    position: relative;
}

.form-group .fa-chevron-down {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #292929;
    font-size: 14px;
}

.form-control {
    background-color: #F8F8F8;
    border-radius: 30px;
    font-size: 14px;
    height: 40px;
    line-height: 25px;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.btn-submit {
    display: block;
    margin: 0 auto 20px;
    background-color: #2BB673;
    width: 150px;
    height: 35px;
    border-radius: 30px;
    border: 0;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
}

.btn-submit:focus {
    outline: none;
    color: #fff;
}

.country-select {
    background-color: #F8F8F8;
    border-radius: 30px;
    height: 40px;
    line-height: 35px;
    border: 1px solid #ced4da;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 8px;
}

.country-select .dropdown-toggle::after {
    display: none;
}

.country-select .form-group .fa-chevron-down {
    left: -15px;
    font-size: 12px;
    top: 20px;
}

.country-select .dropdown-toggle {
    font-size: 14px;
    padding: 5px 0;
    width: 100px;
}

.country-select .dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-menu.show {
    text-align: right;
    padding: 10px;
}

.dropdown-menu.show li {
    font-size: 14px;
    text-align: right;
    padding: 0 10px;
    margin-bottom: 6px;
    line-height: 1.5;
}

.dropdown-menu.show li i,
.flagstrap-icon {
    margin-left: 5px;
}

.country-select .form-group {
    margin: 0;
}

.country-select .form-control {
    border: 0;
    padding: 0 5px;
    height: 38px;
    background-color: transparent;
}

.country-select .form-control:focus {
    background-color: #fff;
}

/* End Form */

/* Start Head */

.header.head {
    border-bottom: 1px solid #626262;
    margin-bottom: 20px;
}

.header.head .head-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Head */

/* Start Arrangment */

.arrange {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    justify-content: space-between;
}

.arrange:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #D9D9D9;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;;
}

.arrange li span {
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    color: #D9D9D9;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
}

.arrange li.active {
    background-color: #fff;
}

.arrange li.active span {
    border: 0;
    background-color: #2BB673;
    color: #fff !important;
}

.arrange h6 {
    display: inline-block;
    margin: 0 5px;
    color: #2BB673;
    font-size: 14px;
}

/* End Arrangment */

/* Start Sign2 Content */

.sign {
    position: relative;
    background-color: #F8F8F8;
    padding: 0 0 20px;
    min-height: 425px;
}

.sign h6 {
    color: #4B4B4B;
    font-size: 14px;
    margin-bottom: 15px;
}

.sign-radio {
    border-bottom: 1px solid #BEBEBE;
    padding: 20px 0 10px;
}

.sign-radio a {
    color: #2BB673;
}

.form .sign-radio:last-of-type {
    border-bottom: 0;
}

.radio-label {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #747474;
    font-size: 14px;
  }
  
  .radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark,
  .radio-label:hover input ~ .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: transparent !important;
    border-radius: 50%;
    border: 2px solid #707070;
  }
  
  .radio-label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .radio-label input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radio-label .checkmark:after {
    top: 3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2BB673;
  }

  .sign-radio .go-details {
    display: block;
    position: relative;
    background-color: #fff;
    color: #2BB673;
    padding: 10px 10px 10px 25px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #2BB673;
  }

  .sign-radio .go-details span {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
  }

  .sign-radio .go-details i:last-of-type {
    position: absolute;
    height: 101%;
    width: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2BB673;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
  }

/* End Sign2 Content */

/* Start Sign3 Content */

.sign h5 {
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0 0;
    display: inline-block;
    line-height: 1.5;
}

.upload-img {
    display: flex;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 30px;
    padding: 0 10px;
    margin-top: 15px;
    color: #2BB673;
}

.upload-img i {
    line-height: 35px;
    font-size: 18px;
}

.upload-img .image-uploader {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.upload-img span {
    margin: 0 10px;
}

.upload-img .fa-camera,
.upload-img .fa-check {
    position: absolute;
    left: 10px;
}

.upload-img .fa-camera {
    color: #767676;
}

/* End Sign3 Content */

/* Start Any Details */

.header.details {
    background-color: #000;
    color: #fff;
}

.header.details .head-txt {
    text-align: center;
}

.header.details .head-txt i {
    position: relative;
    top: 5px;
    float: right;
}

.header.details .head-txt h6 {
    color: #fff;
    margin: 0;
    font-weight: normal;
}

.details-section {
    background-color: #F5F5F5;
    padding: 15px 0px;
    min-height: 515px;
}

.details-section .details-txt {
    background-color: #fff;
    color: #707070;
    font-size: 12px;
    padding: 20px 10px;
}

.details-txt .text {
    margin-bottom: 15px;
}

.details-txt .text span {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.details-section .back {
    display: block;
    color: #2BB673;
    text-align: center;
    font-size: 14px;
}

/* End Any Details */

/* Start Sign 5 */

.header.bg {
    position: relative;
    padding: 20px;
    height: 225px;
    overflow: hidden;
}

.header.bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.header.bg .bg-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.header.bg .head-txt {
    color: #fff;
}

.header.bg .head-txt i {
    position: relative;
    z-index: 2;
}

.header.bg .head-txt h5 {
    position: absolute;
    width: 150px;
    text-align: center;
    line-height: 1.5;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.sign.white {
    background-color: #fff;
}

.sign.white .btn-submit {
    margin-top: 40px;
}

.sign.white h5 {
    margin-bottom: 40px;
}

/* Start Switch Toggle */

.switch {
    margin: 4rem auto;
  }
  
  .switch {
    width: 24rem;
    position: relative;
  }
  .switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  .switch input:checked {
    z-index: 1;
  }
  .switch input:checked + label {
    opacity: 1;
    cursor: default;
    font-weight: bold;
  }
  .switch input:not(:checked) + label:hover {
    opacity: 0.5;
  }
  .switch label {
    color: #575757;
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;
  }
  .switch .toggle-outside {
    height: 20px;
    border-radius: 2rem;
    padding: 0.25rem;
    overflow: hidden;
    transition: 0.25s ease all;
  }
  .switch .toggle-inside {
    width: 20px !important;
    height: 20px !important;
    border-radius: 5rem;
    background: #2bb673;
    position: absolute;
    transition: 0.25s ease all;
    top: 50%;
    transform: translateY(-50%);
  }
  .switch--horizontal {
    width: 18rem;
    height: 3rem;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 1rem;
  }
  .switch--horizontal input {
    height: 3rem;
    width: 6rem;
    left: 6rem;
    margin: 0;
  }
  .switch--horizontal label {
    font-size: 14px;
    line-height: 3rem;
    display: inline-block;
    width: 6rem;
    height: 100%;
    margin: 0;
    text-align: center;
  }
  .switch--horizontal label:last-of-type {
    margin-right: 6rem;
  }
  .switch--horizontal .toggle-outside {
    background: rgba(43, 182, 115, 0.4);
    position: absolute;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .switch--horizontal .toggle-inside {
    height: 2.5rem;
    width: 2.5rem;
  }
  .switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
    right: 0;
    left: auto;
  }
  .switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 0;
    right: auto;
  }

/* End Switch Toggle */

/* End Sign 5 */

/* Start Sign 6 */

.header.bg .switch {
    width: 15rem !important;
    z-index: 2;
    position: absolute;
    top: 8px;
    left: 0;
}

.header.bg .switch label {
    opacity: 0.6;
    color: #fff;
}

.header.bg .switch input:checked + label {
    font-weight: normal;
    opacity: 1;
}

.header.bg .switch--horizontal input {
    left: 0;
}

.header.bg .switch--horizontal .toggle-outside {
    left: 20px;
    right: auto;
}

.header.bg .arrange {
    z-index: 2;
    margin: 0 auto;
    position: absolute;
    width: 230px;
    text-align: center;
    bottom: 50px;
    left: 0;
    right: 0;
}

.header.bg .arrange:after {
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    top: 15px;
}

.header.bg .arrange li.active {
    background-color: transparent;
}

.header.bg .arrange li h6,
.header.bg .arrange li.active h6 {
    color: #fff;
    font-size: 13px;
    line-height: 1.5;
    width: 80px;
    font-weight: normal;
    margin-top: 6px;
}

.header.bg .arrange li span {
    color: #707070;
}

/* End Sign 6 */

/* Start Sign 8 */

.sign.white .sign-radio .go-details {
    display: flex;
    align-items: center;
}

.sign.white .sign-radio .go-details.block {
    display: block;
}

.sign.white .sign-radio .go-details i:first-of-type {
    font-size: 18px;
    margin-left: 20px;
}

.sign.white .sign-radio .go-details.block i {
    margin: 0;
}

.sign.white .sign-radio .go-details .video-text p {
    margin: 0;
}

.complete {
    background-color: #EBF8F1;
    color: #8D8D8D;
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

.complete p {
    margin: 0;
}

/* End Sign 8 */

/* Start Video */

.header.bg.video {
    height: 100vh;
    background-color: #000;
}

.header.bg.video:after {
    display: none;
}

.header.bg.video iframe {
    width: 100%;
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    padding-top: 60px;
}

.html5-endscreen {
    display: none !important;
}

.header.bg.video .show-btn {
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

.header.bg.video span.btn-submit {
    margin-bottom: 0;
}

/* End Video */

/* Start Success */

.success {
    height: 100vh;
    position: relative;
}

.success-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    width: 320px;
    transform: translateY(-50%);
}

.success img {
    width: 100px;
    margin-bottom: 20px;
}

/* End Success */

/* Start Media Query */

@media(max-width:576px) {

    

}

/*Smat Phone And Tablet*/

@media(min-width: 576px) and (max-width:767px) {

    

}
/*Small Screen*/

@media(min-width:768px) and (max-width:991px) {

    
    
}
/*Medium Screen*/

@media(min-width:992px)and (max-width:1199px) {
    
    
    
}
/*Larger Screen*/


/* End Media Query */
